language: cpp
#dist: trusty
branches:
  only:
  - master
  - develop
compiler:
  - gcc
os:
- linux
cache:
  - apt

env:
  - CASE=LIS CMAKE_ARGS="-DOGS_FEM_LIS=ON -DLIS_INCLUDE_DIR=$TRAVIS_BUILD_DIR/lis-cmake-master/include  -DLIS_LIBRARIES=$TRAVIS_BUILD_DIR/lis-cmake-master/build/lib/liblis.a"
  - CASE=PETSC CMAKE_ARGS="-DOGS_FEM_PETSC=ON -DPETSC_DIR=/usr/lib/petscdir/3.4.2/"

before_install:
  - openssl aes-256-cbc -K $encrypted_fc068b29a656_key -iv $encrypted_fc068b29a656_iv -in .dropbox_uploader.enc -out ~\/.dropbox_uploader -d
  - if [[ "$CASE" == "PETSC" ]]; then sudo add-apt-repository --yes ppa:feelpp/petsc; fi
  - if [[ "$CASE" == "LIS" ]]; then sudo apt-get install gfortran; fi
  - travis_retry sudo apt-get update -qq;

install:
  # PetSc
  - if [[ "$CASE" == "PETSC" ]]; then travis_retry sudo apt-get install -qq libpetsc3.4.2-dev; fi
  # Lis
  - if [[ "$CASE" == "LIS" ]]; then wget https://github.com/norihiro-w/lis-cmake/archive/master.zip; fi
  - if [[ "$CASE" == "LIS" ]]; then unzip master.zip && cd lis-cmake-master && rm -f ../master.zip; fi
  - if [[ "$CASE" == "LIS" ]]; then mkdir build && cd build && cmake .. && make && cd ../..; fi
  - if [[ "$CASE" == "LIS" ]]; then wget https://github.com/norihiro-w/ogs5-egs-benchmarks/archive/master.zip; fi
  - if [[ "$CASE" == "LIS" ]]; then unzip master.zip && mv ogs5-egs-benchmarks-master benchmarks; fi
  - if [[ "$CASE" == "LIS" ]]; then pwd && ls -l; fi
  - export bench_input=`pwd`/benchmarks/input_files
  - export bench_ref=`pwd`/benchmarks/ref_files

script:
  - mkdir build
  - cd build
  - if [[ "$CASE" == "LIS" ]]; then export CMAKE_ARGS="${CMAKE_ARGS} -DBENCHMARK_DIR=${bench_input} -DBENCHMARK_REF_DIR=${bench_ref}"; fi
  - cmake $CMAKE_ARGS ..
  - make -j4
  - if [[ "$CASE" == "LIS" ]]; then ctest -E 'Tests|FILE|EXCEED'; fi
  - if [[ "$CASE" == "LIS" ]]; then ctest -R 'FILECOMPARE' -E 'EXCEED'; fi

#after_failure:
#  - '[ -f ~/.dropbox_uploader ] && ./dropbox_uploader.sh upload t/results/ travis-artifacts/$TRAVIS_JOB_NUMBER/'
  
notifications:
  email:
    on_success: change
    on_failure: always

